@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    &--centrar {
        @extend .acciones;    
        justify-content: center;
    }

    &__enlace {
        color: v.$negro;
        font-size: 1.4rem;
    }
}